body{
    /* background-color: rgb(188, 135, 238); */
    background: url('original.gif') no-repeat center center fixed;
    background-size: cover;
  
}
.submit{
    background-color: rgb(10, 165, 80);
    margin-top: 5px;
    color: black;
    border-style: solid;
    /* align-self: center; */
    
}
.centered {
    display: flex;
    justify-content: center; 
}
.giphyImage{
    
    height: 300px;
    max-width: 200px ;
    margin: 15px;
    image-resolution: auto;
}
img {
     max-width: 100%; 
    /* padding: 10px; */
    height: 200px;

}
.channelArea{
font-family: 'Philosopher', sans-serif;
font-size: 32px;
margin-top: 15px;
/* margin-left: 30px; */
}

input[type="text"]{
    width:300px;
    /* margin-top: 10px; */
    padding:10px;
    border-style: solid;
    color:rgb(59, 7, 59);
    float: left;
}
form{
    float: right;
    padding: 10px;
}
label{
    display:block;
    margin: 0px;
    padding: 10px;
    font-family: 'Philosopher', sans-serif;
}
#buttonArea{
    margin-top: 100px;
}
.searchButton{
    margin-top: 30px;
    margin: 3px;
}

