body{
    background-color: rgb(188, 135, 238);
  
}
/* .bgBody{
    border-style: solid;
    border-width: 5px;
} */
.submit{
    background-color: rgb(10, 165, 80);
    margin-top: 5px;
    color: black;
    border-style: solid;
 
}
.centered {
    display: flex;
    justify-content: center;
}
.giphyImage{
    
    height: 300px;
    max-width: 200px ;
    margin: 15px;
}
img {
     max-width: 100%; 
    /* padding: 10px; */
    height: 200px;

}
.channelArea{
font-family: 'Philosopher', sans-serif;
}

input[type="text"]{
    /* margin-top: 10px; */
    padding:10px;
    border-style: solid;
    color:rgb(59, 7, 59);
    float: left;
}
form{

    float: right;
    padding: 10px;
}

label{
    display:block;
    margin: 0px;
    padding: 10px;
    font-family: 'Philosopher', sans-serif;
}
.searchButton{
    margin-top: 10px;
    margin: 2px;
}

